<div class="main">
    <div class="head"><br>
        <h1 class="title">PortFolio</h1>
    </div>
    <br>
    <div class="temp"> 
        <div class="mydiv" *ngFor="let data of port">
            <div class="card">
                <div class="card-header">
                    <h1>{{data.name}}</h1>
                </div>
                <div class="card-body">
                    <p>
                      {{data.desc}}
                    </p>
                </div>
                <div class="card-footer">
                    <a href=""> ReadMore</a>
                    <a href={{data.desc}}> GitHub</a>
                </div>
            </div>
    </div>

    </div>

</div>