<div class="navigation">
    <div class="head">
        <h2>
            Roshan Patil
        </h2>
    </div>
    <div class="navs"> 

        <a href="nav-link" routerLink="/home" routerLinkActive="active"> Home </a>
        <a href="nav-link" routerLink="/portfollio" routerLinkActive="active"> Portfolio </a>
        <a href="nav-link" routerLink="/about" routerLinkActive="active"> About </a>
        <a href="nav-link" routerLink="/contact" routerLinkActive="active"> Contact </a>


    </div>

</div>

<router-outlet></router-outlet>